@import "~foundation-sites/scss/foundation";
@include foundation-everything();

body,
html {
  font-family: sans-serif;
}

.navigation {
  background: rgba(255, 255, 255, 255);
  padding: 0 1.875rem;
  @include breakpoint(large) {
    padding: 0 5%;
  }
  @include breakpoint(xlarge) {
    padding: 0 10%;
  }
  @include breakpoint(xxlarge) {
    padding: 0 20%;
  }

  &__header {
    font-size: 1.625rem;
    line-height: 1;
  }

  &__item {
    margin: 0;
    @include breakpoint(large) {
      margin: 0 0.75rem;
    }
    @include breakpoint(xlarge) {
      margin: 0 1rem;
    }
    @include breakpoint(xxlarge) {
      margin: 0 1.25rem;
    }
  }

  li > &__anchor {
    color: rgba(0, 0, 0, 255);
    text-decoration: none;
    font-size: 0.875rem;
    @include breakpoint(medium) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    @include breakpoint(large) {
      padding-left: 0.9rem;
      padding-right: 0.9rem;
    }
  }
}

.mobile-menu {
  background: rgba(255, 255, 255, 255);
  color: rgba(0, 0, 0, 255);

  &__button::after {
    background: rgba(0, 0, 0, 255);
    -webkit-box-shadow: 0 7px 0 #000, 0 14px 0 #000;
    box-shadow: 0 7px 0 #000, 0 14px 0 #000;
  }
}

.header {
  background: rgb(154,154,154);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(154,154,154,1)), to(rgba(78,78,78,1)));
  background: linear-gradient(0deg, rgba(154,154,154,1) 0%, rgba(78,78,78,1) 100%);
  padding: 2.5rem 1.875rem;
  @include breakpoint(large) {
    padding: 2.5rem 5%;
  }
  @include breakpoint(xlarge) {
    padding: 2.5rem 10%;
  }
  @include breakpoint(xxlarge) {
    padding: 2.5rem 20%;
  }

  &__heading {
    color: rgba(164, 236, 213, 255);
    font-size: 3.75rem;
    margin: 2.5rem 0.625rem;
    font-weight: 800;
  }

  &__paragraph {
    color: rgba(255, 255, 255, 255);
    font-size: 2.5rem;
    margin: 3.333rem 0.875rem;
    font-weight: 800;
    word-break: break-word;
  }

  &__paragraph--with-bg {
    margin-top: 16.625rem;
    margin-bottom: 0;
    font-size: 1.125rem;
    color: rgba(255, 255, 255, 255);

    span {
      background: rgba(159, 208, 192, 255);
      padding: 0.25rem 0.75rem 0.25rem 0;
      line-height: 1.5rem;
      white-space: pre-wrap;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -0.75rem;
        bottom: 0;
        width: 0.75rem;
        background: rgba(159, 208, 192, 255);
      }
    }
  }
}

.section {
  margin: 0;
  padding: 1px 1.875rem 4.6875rem;
  @include breakpoint(large) {
    padding: 1px 5% 4.6875rem;
  }
  @include breakpoint(xlarge) {
    padding: 1px 10% 4.6875rem;
  }
  @include breakpoint(xxlarge) {
    padding: 1px 20% 4.6875rem;
  }

  &__heading {
    color: rgba(36, 36, 34, 255);
    font-size: 2.5rem;
    text-align: center;
    margin: 4.6875rem auto;
    line-height: 1;
    font-weight: 800;
  }
}

.first-section {
  background: rgba(255, 255, 255, 255);
  padding-bottom: 10rem;

  .article-container {
    &__article {
      padding: 1.25rem 3.75rem 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      position: relative;
      @include breakpoint(large) {
        &::after {
          content: '';
          width: 1px;
          height: 11.375rem;
          background: rgba(0, 0, 0, 255);
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }

      &:last-child:after {
        display: none;
      }

      .article__heading {
        margin: 2rem auto;
        font-size: 1.5625rem;
      }

      .article__paragraph {
        font-size: 1.125rem;
      }
    }

    .image-container {
      width: 130px;
      height: 130px;
      margin: 0 auto;
    }
  }
}

.second-section {
  background: rgba(36, 36, 34, 255);
  text-align: center;

  .section__heading {
    color: rgba(164, 236, 213, 255);
    text-align: left;
    margin-bottom: 0;
  }
}

.third-section {
  text-align: center;

  .section__heading {
    text-align: left;
  }

  .section__list {
    text-align: left;
    font-size: 1.125rem;
    color: rgba(36, 36, 34, 255);
    padding-left: 1.125rem;
    margin-top: 5rem;
  }
}

.fourth-section {
  background: rgba(164, 236, 213, 255);

  .article-container {

    &__article {
      .article__heading {
        margin: 2rem auto;
        font-size: 1.5625rem;
      }

      .article__paragraph {
        font-size: 1.125rem;
      }
    }

    .image-container {
      width: 106px;
      height: 106px;
      margin: 0 auto;
    }

    .arrow-container {
      margin: 1rem 0 2rem;
      display: inline-block;
      text-align: center;

      img {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
      @include breakpoint(large) {
        margin: 9rem 0 0;

        img {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      }
    }
  }
}

.fifth-section {
  background: rgba(218, 218, 218, 255);
  @include breakpoint(xxlarge) {
    padding: 1px 10%;
  }
  @include breakpoint(xxxlarge) {
    padding: 1px 20%;
  }

  .section__heading {
    text-align: left;
  }

  .span-container {
    font-size: 1.125rem;

    &__name-span {
      color: rgba(36, 36, 34, 255);
    }

    &__sign-span {
      color: rgba(255, 255, 255, 255);
      width: 2.5rem;
      display: inline-block;
      text-align: center;
    }
  }

  .article-container {
    margin-top: 5rem;

    &__article {
      background: rgba(255, 255, 255, 255);
      padding: 0 1.1875rem 2rem;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-top: 0.9375rem solid rgba(164, 236, 213, 255);
      -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.08), 0 3px 9px rgba(0,0,0,0.11);
      box-shadow: 0 3px 9px rgba(0,0,0,0.08), 0 3px 9px rgba(0,0,0,0.11);

      .heading-container {
        height: 5rem;
        margin: 3rem 0;
      }

      .article__heading {
        color: rgba(36, 36, 34, 255);
        font-size: 1.5625rem;
        font-weight: 800;
        margin: 0;
      }

      .article__paragraph {
        font-size: 1.125rem;
        color: rgba(36, 36, 34, 255);
        margin-bottom: 3.5rem;
      }

      .article__anchor {
        font-size: 1.125rem;
        color: rgba(36, 36, 34, 255);
        font-weight: 800;
        text-decoration: none;
      }
    }
  }
}

// .sixth-section {
//   background: rgba(255, 255, 255, 255);
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//
//   .section__heading {
//     text-align: left;
//   }
//
//   .items-container {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-pack: justify;
//     -ms-flex-pack: justify;
//     justify-content: space-between;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     align-items: center;
//
//     .section__paragraph {
//       font-size: 2.1875rem;
//       font-weight: 800;
//       display: inline-block;
//     }
//
//     .icon {
//       height: auto;
//     }
//   }
// }
